@media only screen and (min-width: 768px) {
    .enduser_orderpage .item-list.mobiledataTab{
        display: none;
    }
    .enduser_confirm_orderpage .mobileView_data{
        display: none;
    }
    .enduser_payment .mobileView_data,
    .enduser_profile_page .mobileView_data-fav{
        display: none;
    }
    .enduser_orderpage .payment_mobileView{
        display:none;
    }
    .enduser_payment .mobileView_paymentfail{
        display:none;
    }
    .enduser_payment .mobileView_paymentsuccess{
        display:none;
    }
   
}

/* ---------------------width less than 768px  styles in mobile View ------------------------ */
@media only screen and (max-width: 768px) {
.mobile_mainslider.main-slider {
    padding-top: 15%;
}

.navbar-brand{
    padding: 15px 0;
}

.my_account_section .nav-tabs li a {
    padding: 8px 15px !important;
}

/* .ml-auto{
    margin-left: 0% !important;
} */
.navbar-dark .navbar-toggler {
    border-color: #46b8da;
}
.carousel-control.left,.carousel-control.right{
    top:1%;
}
.top_brands_slider .carousel-control.left,
 .top_brands_slider .carousel-control.right,
 .seller-info .carousel-control.left,
 .seller-info .carousel-control.right
 {
    top:40%;
}
.can_tanker_slider .carousel-control.left,
 .can_tanker_slider .carousel-control.right
 {
    top:40%;
}
.nav-tabs>li{
   width:170px;
    margin-bottom: 3px !important;
}
.dropdown-item{
  background:#fff !important;
}
.enduser_orderpage .item-list.webdata{
    display:none;
}
.enduser_confirm_orderpage .webView_data{
    display:none;
}
.enduser_payment .webView_data,
.enduser_profile_page .webView_data-fav{
    display:none;
}
.enduser_orderpage .payment_webView{
    display:none;
}
.enduser_payment .webView_paymentfail{
    display:none;
}
.enduser_payment .webView_paymentsuccess{
    display:none;
}
.enduser_orderpage .payment_mobileView{
    margin-top: 25px;
}
.tab-content>.tab-pane{
    height:400px;
    overflow-y: scroll;
}
.seller-contact-info .mobileView_data dt{
    margin-top: 0px;
   }
.seller-contact-info .mobileView_data dt span{
   padding-left: 0px;
  
   }
.enduser_profile_page.enduser_profile_page_mobile{
    padding-top: 10%;
}
.enduser_confirm_orderpage .inner-box.category-content{
    padding-top: 11%;
}
.enduser_confirm_orderpage .homebtn_incart{
    margin-top: 10px;
}
.enduser_payment .inner-box.category-content{
    margin-top: 11%;
} 
.card.sidebar-card.card-contact-seller{
    display: none;
}
.pagination{
    float:right;
}

.date, .date i {
    font-size: 13px!important;
    color: #009ee3!important;
}

.add-title {
    color: #0091de;
    font-weight: 700;
}


}

@media only screen and (max-width: 600px)  {
    .navbar-nav {
        margin: 7.5px 0px;
    }

    .info-row{
        padding-bottom:0;
    }    

    .inner-box {
        padding: 10px !important;
    }
    
    .list-title{
        margin-top:0 !important;
        padding:0;
    }

    .input-group{
        padding-bottom: 6px;
    }

}
/* ---------------------width less than 768px  styles in mobile View ------------------------ */

@media only screen and (max-width: 480px) {
    .rating-stars {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    .info-row{
        padding-bottom:5px;
    }

    .enduser_orderpage .item-list{
        padding:10px;
    }
 

}


@media only screen and (max-width: 375px) {
    .mobileView_paymentfail .payment-tab{
        left:8% !important;
      }
      .mobileView_paymentsuccess .payment-tab{
        left:8% !important;
      }

      .enduser_profile_page.enduser_profile_page_mobile {
        padding-top: 20%;
    }
}
@media (min-width:349px) and (max-width: 370px) {
    /* .navbar-brand{
      margin-right: 0rem !important;
    } */
}
@media (min-width:320px) and (max-width: 350px) {
    .mobileView_paymentfail .payment-tab{
        left:8% !important;
        width:250px !important;
      }
      .mobileView_paymentsuccess .payment-tab{
        left:8% !important;
        width:250px !important;
      }
      .navbar-brand img{
          width:120px;
          height:40px;
      }
      .mobiledataTab .mobileView .rightClass {
          float:left !important;
          margin-left: 0px !important;
      }
}
@media (min-width:275px) and (max-width: 325px) {
    .navbar-brand img{
        width:90px;
    }
}
@media (min-width:100px) and (max-width: 274px) {
    .navbar-brand img{
        width:70px;
        height: 30px;
    }
    .navbar-nav.navbar-nav-mobile {
        margin-right: 35px;
    }
    .navbar-nav .btn-primary{
        padding: 3px 1px !important;
    }
}


