 /* .enduser_setlocation{
    padding-top: 8%;
} 
.enduser_setlocation .input-group-addon {
    padding: 6px 22px;
   
}*/
.enduser_setlocation button, html [type=button] {
    -webkit-appearance: button;
}

/* .table .btn {
    margin-right: 15px;
} */

.enduser_setlocation .input-group-addon, .enduser_setlocation .input-group-btn {
    min-width: 30px;
    white-space: nowrap;
    vertical-align: middle;
}

.enduser_setlocation .form-content {
    background-color: #eff7fa;
}

.enduser_setlocation .input-group-addon:first-child {
    background-color: #dddddd;
}

.enduser_setlocation .form-holder .form-content {
    position: relative;
    padding:120px 60px 50px 60px;
    min-height: 100%;
}

.enduser_setlocation .form-content .form-items {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    text-align: left;
}



/* .set_location .inner-box.category-content {
    padding-bottom: 0;
   
} */