/* body {
    background-color: #0093FF;
} 

.form-body {
    background-color: #0093FF;
    height: 100%;
}
*/
.orange.active {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    background-clip: padding-box;
    border: none;
    outline: none;
    padding: 9px 15px;
    cursor: pointer;
    margin-bottom: 10px;
    background-image: linear-gradient(90deg,#66bdb0 0,#009ee3);
    box-shadow: 0 2px 8px 0 #aae1e1;
    color: #fff!important;
}
.orange {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    background-clip: padding-box;
    border: none;
    outline: none;
    padding: 9px 15px;
    cursor: pointer;
    margin-bottom: 10px;
    background-image: linear-gradient(90deg,#66bdb0 0,#009ee3);
    box-shadow: 0 2px 8px 0 #aae1e1;
    color: #fff!important;
}
.website-logo {
    display: inline-block;
    top: 7%;
    left: 13%;
    right: initial;
    bottom: initial;
    position: absolute;
    z-index: 1000;
}
.mb-0{
    margin-bottom: 0px !important;
}
.website-logo img {
    width: 170px;
}

.website-logo-inside {
    margin-bottom: 70px;
}

.website-logo-inside img {
    width: 170px;
}

.website-logo-inside a {
    display: inline-block;
}

.website-logo-inside .logo {
    display: inline-block;
    background-image: url('../images/oasiz-logo-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.website-logo-inside .logo img {
    width: 100px;
}

.img-holder {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    min-height: 550px;
    height: 100%;
    overflow: hidden;
    background-color:#b9dffa;
    padding: 60px;
    text-align: center;
    z-index: 999;
}

.img-holder .info-holder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-holder .info-holder h3 {
    display: inline-block;
    color: #fff;
    text-align: left;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 30px;
    width: 100%;
    max-width: 378px;
    padding-right: 30px;
}

.img-holder .info-holder p {
    display: inline-block;
    color: #fff;
    text-align: left;
    font-size: 19px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 378px;
    padding-right: 30px;
}

.img-holder .info-holder img {
    width: 100%;
    max-width: 378px;
}

.img-holder .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image:none;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

@media screen and (max-height: 720px) {
    .img-holder {
        position:absolute;
    }

    .website-logo {
        position: absolute;
    }
}

.form-holder {
    margin-left:550px;
}


.enduser_loginpage .form-holder .form-content {
    position: relative;
    padding:150px 100px;
    min-height: 100%;
}

.form-holder .form-content ::-webkit-input-placeholder {
    color: #526489;
}

.form-holder .form-content :-moz-placeholder {
    color: #526489;
}

.form-holder .form-content ::-moz-placeholder {
    color: #526489;
}

.form-holder .form-content :-ms-input-placeholder {
    color: #526489;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control ::-webkit-input-placeholder {
    color: #526489;
}

.form-control :-moz-placeholder {
    color: #526489;
}

.form-control ::-moz-placeholder {
    color: #526489;
}

.form-control :-ms-input-placeholder {
    color: #526489;
}

.form-content {
    background-color: #eff7fa;
} 

.form-content .form-group {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.enduser_loginpage .form-content .form-items {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: left;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
    line-height:26px;
}

.forgotCol p {
    color: #009ee3;
    text-align: right;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    margin-top: 1rem;
}

.Signup {
    padding: 10px 12px;
    background-color: #009ee3;
    width: 100%;
    margin-bottom: -10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.Signup_activation{
    padding: 10px 12px;
    /* background-color: #009ee3; */
    width: 100%;
    margin-bottom: -10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.Signup_activation p{
    color: #009ee3;
    font-weight: 600;
    text-decoration: underline;
    }
.Signup p a {
    font-weight: bold;
    padding-left: 5px;
}


.Signup p {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    margin-bottom:0;
}

.enduser_otppage .form-holder .form-content {
    position: relative;
    padding: 150px 100px;
    min-height: 100%;
}

.enduser_otppage .form-content .form-items {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: left;
}


.form-content p.form-subtitle {
    font-size: 16px;
    margin-bottom: 15px;
}

.form-content .page-links a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content .page-links a:last-child {
    margin-right: 0;
}

.form-content .page-links a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content .page-links a.active {
    font-weight: 700;
}

.form-content .page-links a.active:after {
    background-color: #fff;
}

.form-content .page-links a:hover:after, .form-content .page-links a:focus:after {
    background-color: #fff;
}

.form-content input, .form-content .dropdown-toggle.btn-default {
    width: 100%;
    padding: 9px 8px;
    text-align: left;
    border: 0;
    outline: 0;
    background-color: #eee;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 14px;
}

.form-content input:hover, .form-content input:focus, .form-content .dropdown-toggle.btn-default:hover, .form-content .dropdown-toggle.btn-default:focus {
    background-color: #fff;
    color: #000000;
    border:1px solid #009ee3;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.otp_field .form-control{
    border-radius:6px;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.ibtn {
    border-radius: 6px;
    border: 0;
    padding: 6px 28px;
    background-color:#015579;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}


.ibtn:hover, .ibtn:focus {
    background-color:#006fa0;
    color: #fff;
}

@media (max-width: 992px) {
    .form-holder {
        margin-left: 0;
    }

}



/* 

.enduser_loginpage{
    background-color: #f7f9fb;
    font-size:14px;
 }

 .enduser_loginpage .brand {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin: 40px auto;
    box-shadow: 0 0 40px rgba(0,0,0,.05);
    padding: 40px 0 0 0;
    text-align: center;
    background-color: #ffffffb3;
}

.enduser_loginpage .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: transparent;
    box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.enduser_loginpage .card-body {
    padding: 1.25rem;
}

.enduser_loginpage .card.fat {
    padding: 10px;
}

.enduser_loginpage .card .card-title {
    font-size: 1.5rem;
}

.enduser_loginpage .card-wrapper {
    width: 400px;
}

.my-login-page .card {
    border-color: transparent;
    box-shadow: 0 0 40px rgba(0,0,0,.05);
} 

    .otp_div p {
        text-align: center;
        margin: 0 0 20px 0;
    }
    
   .enduser_loginpage .otp_div {
        padding: 15px;
        text-align: center;
    }
    
    .otp_div .input-group {
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 70%;
    }*/

   
    .login h3, .signup h3 {
        font-size: 2rem;
        background-color: #0093FF;
        color: #fff;
        padding: 10px;
    }

    .login .form-control,.otp-form .form-control {
    display: block;
    padding: .5rem;
    line-height: 1.5;
    color: #000000;
    background-color:#fff;
    background-clip: padding-box;
    border:1px solid #ddd;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow:none;
    }

    /* .input-group-prepend {
        border-right: 1px solid #d1d1d1;
    } */

    .input-group-text {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.375rem 0.60rem;
        margin-bottom: 0;
        font-weight: 400;
        line-height: 1.5;
        color: #3e515b;
        text-align: center;
        white-space: nowrap;
        border:1px solid #ddd;
    }
    
    .warning {
        color: red;
        font-weight: 400;
        font-size: 13px;
        margin-bottom:0;
    }
    .main-content .app-footer{
        width:100% !important;
    }
