@charset "utf-8";
/* CSS Document */
.payment-tab{
    border:1px solid #eee;
    width:50%;
    margin-top: 20px;
}
.enduser_profile_page {
    padding-top:6%;
}
.enduser_profile_reviews_page{
    padding-top:6%;
}
.wb-section-reviews{
    margin-bottom: 1%;
}
.dv-star-rating .dv-star-rating-star i{
    font-size :30px;
}
.feedbak_data .dl-horizontal{
    margin-bottom: 0rem;
}
.my_profile .feedbak_data .review_description h4  {
    padding-bottom: 1px;
}
.review_description textarea {
    height:120px;
}
.review{
   background: #fff;
    padding: 8px;
}
.review-button{
    background-image: linear-gradient(90deg,#009ee3,#009ee3);
    box-shadow: 0 2px 8px 0 #aae1e1;
    color: #fff!important;
    border-radius: 19px;
    border: 1px solid transparent;
    padding-right: 5px;
    padding-bottom: 3px;
}
.review-star{
    width: 24px;
    height: 24px;
    border: 1px solid #a9a9a9;
    background: #fff;
    border-radius: 12px;
    margin-top: 3px;
    padding-top: 3px;
}
.editRating{
    float: right;
    padding-left: 32px;
    font-size: 17px;
}
.fav-heart{
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 20px;
}
.fav-order{
    width: 24px;
    height: 24px;
    border: 1px solid darkgrey;
    background: white;
    border-radius: 12px;
    margin-top: 3px;
    padding-top: 1px;
    /* margin-left: 30px; */
}
.fav-button{
    background-image: linear-gradient(90deg,#66bdb0 0,#009ee3);
    box-shadow: 0 2px 8px 0 #aae1e1;
    color: #fff!important;
    border-radius: 19px;
    border: 1px solid transparent;
    padding-right: 5px;
    padding-bottom: 3px;
}
button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}   
.user-panel-sidebar h3 {
    color: #009ee3;
    font-weight: 500;
    margin-bottom:10px;
}
/* current orders styles */
.tooltip{
    margin-right: 1px;
    opacity: 1;
    position: relative;
    display: inline;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #009ee3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #009ee3 transparent transparent transparent;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
}
.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
  }
  .search input {
    width: 300px;
    height: 32px;
  
    /* background: #fcfcfc; */
    border: 1px solid #8ed5f3;
    border-radius: 5px;
    /* box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset; */
  }
  .search input:hover,.search input:focus {
    width: 300px;
    height: 32px;
  
    /* background: #fcfcfc; */
    border: 1px solid #88e1b0;
    border-radius: 5px;
    /* box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset; */
  }
  
  .search input { text-indent: 32px;}
  .search .fa-search { 
    position: absolute;
    top: 7px;
    left: 10px;
  }
  .enduser_profile_page .user-panel-sidebar .acc-list li i{
      color: #009ee3;
      padding-right: 5px;
  }
  .enduser_profile_page .user-panel-sidebar .acc-list li i:hover{
    color: #009ee3;
    padding-right: 5px;
}
.previous_orders .info-row{
    padding-bottom: 0px;
}
.previous_orders .price-box p {
    margin-bottom: 0.3rem;
}
/* .user-panel-sidebar ul li a i {
    position: absolute;
    left: 10px;
    top: 17px;
} */
.order_history_view{
    padding-top: 6.5%;
}
.order_history_view .wb-section {
    margin-bottom: 2.2%;
}
.enduser_profile_page .tab-content .tab-pane {
    padding: 0;
}

.enduser_profile_page .table {
    margin-top: 1rem;
}

.user-panel-sidebar ul li a .i_home {
    background: url(../images/home-icon.png) no-repeat 0 0;
    width: 20px;
    height: 22px;
    background-size:cover;
}

.user-panel-sidebar ul li a:hover .i_home {
    background:url(../images/home-icon-hov.png) no-repeat 0 0;
    width: 20px;
    height: 22px;
    background-size:cover;
}


.user-panel-sidebar ul li a .i_orders {
    background: url(../images/my-orders-icon.png) no-repeat 0 0;
    width: 18px;
    height: 22px;
}

.user-panel-sidebar ul li a:hover .i_orders {
    background:url(../images/my-orders-icon-hov.png) no-repeat 0 0;
    width: 18px;
    height: 22px;
}

.user-panel-sidebar ul li a .i_profile {
    background: url(../images/my-profile-icon.png) no-repeat 0 0;
    width: 20px;
    height: 18px;
}

.user-panel-sidebar ul li a:hover .i_profile {
    background:url(../images/my-profile-icon_hov.png) no-repeat 0 0;
    width: 20px;
    height: 18px;
}

.user-panel-sidebar ul li a .i_favorites {
    background: url(../images/my_fav_icon.png) no-repeat 0 0;
    width: 21px;
    height: 20px;
}

.user-panel-sidebar ul li a:hover .i_favorites {
    background:url(../images/my_fav_hover.png) no-repeat 0 0;
    width: 21px;
    height: 20px;
}

.user-panel-sidebar ul li a .i_feedback {
    background: url(../images/my_feedback_icon.png) no-repeat 0 0;
    width: 20px;
    height: 19px;
}

.user-panel-sidebar ul li a:hover .i_feedback {
    background:url(../images/my_feedback_icon_hover.png) no-repeat 0 0;
    width: 20px;
    height: 19px;
}

.my_account_section .form-group {
    margin-bottom: 0.1rem;
    margin-right:0;
    margin-left: 0;
}

.profile_radio input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    margin-top: 4px;
    float: left;
    margin-right: 6px;
}

.my_account_section .btn {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    outline: none;
    padding: 9px 15px;
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}


.my_account_section .orange {
    background-image: -moz-linear-gradient(to right, #66bdb0 0%, #009ee3 100%);
    background-image: -webkit-linear-gradient(to right, #66bdb0 0%, #009ee3 100%);
    background-image: linear-gradient(to right, #66bdb0 0%, #009ee3 100%);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(255,97,98,0.46);
    -moz-box-shadow: 0px 2px 8px 0px rgba(255,97,98,0.46);
    box-shadow: 0px 2px 8px 0px rgb(170, 225, 225);
    color: #ffffff !important;
}

.my_account_section .orange:hover {
    opacity: 0.8;
}

.profile_radio li {
    display: inline-block;
    margin-right: 30px;
}

.my_account_section .uhe_header {
    margin: 10px 0;
    text-align: left;
    background-color: #eee;
    padding: 15px 20px;
}

.my_account_section .avatar_pro {
    display: inline-block;
    background: none;
    width: 90px;
    border: 3px solid #009ee3;
    height: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
	box-shadow: 1px 1px 8px #999;
	-moz-box-shadow: 1px 1px 8px #999;
	-o-box-shadow: 1px 1px 8px #999;
	-webkit-box-shadow: 1px 1px 8px #999;
}
.my_account_section .inner-box {
	background: #ffffff;
	border-radius: 3px 3px;
	box-shadow:0px 2px 8px 0px rgba(0,0,0,0.10);
	-webkit-box-shadow:0px 2px 8px 0px rgba(0,0,0,0.10);
	-moz-box-shadow:0px 2px 8px 0px rgba(0,0,0,0.10);
	margin-bottom: 8px;
	padding: 10px 15px;
}

.my_account_section img {
    border: 0;
    page-break-inside: avoid;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
}

.my_account_section .uhe_header .user_info .name {
    color: #353535;
    font-size: 16px;
    font-weight: 500;
	margin:0;
}

.my_account_section .uhe_header .user_info {
    display: inline-block;
    margin: 0 0 0 25px;
    vertical-align: top;
    padding-top:10px;
}

.my_account_section .uhe_header .user_info p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
	margin:0;
}

/* .my_account_section .uhe_header .user_info p:last-child {
    padding: 5px 0 0 0;
} */




/* --------------------- -------------------------- */

.enduser_loginpage{
    background-color: #fff;
}
.enduser_signup_page{
    background-color: #fff;
    padding-top: 10%;
}
.login .input-group .form-control{
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    /*width: 1%;*/
    margin-bottom: 0;
}


.my_account_section sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    top: -0.5em;
    vertical-align: baseline;
  }
  
  .user_pro {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: 10px;
      border-radius: 50%;
      border: 1px solid #009ee3;
  }
  
  .user_pro img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
  }
  
  .my_account_section img {
      border: 0;
      page-break-inside: avoid;
      vertical-align: middle;
      height: 100%;
      width: 100%;
      border-radius:100px;
      -webkit-border-radius:100px;
      -moz-border-radius:100px;
      -o-border-radius:100px;
  }
  li .dropdown-menu.user-menu > .active > a {
              background: #eeeeee;
              font-weight: bold;
              color: #2a3744;
}
li.dropdown-item.active, li.dropdown-item:active {
              background: #eeeeee;
              font-weight: bold;
              color: #2a3744;
}
li .user-menu {
              padding: 0;
              -webkit-transition: all 0.2s linear 0s;
              -moz-transition: all 0.2s linear 0s;
              -o-transition: all 0.2s linear 0s;
              transition: all 0.2s linear 0s;
}
li .user-menu li a {
              font-size: 12px;
              letter-spacing: 0.55px;
              clear: both;
              display: block;
              font-weight: 400;
              line-height: 1.42857;
              padding: 5px 5px;
              text-transform: inherit;
              white-space: nowrap;
}
li .user-menu li i {
              margin-right: 5px;
              color: #999999;
              font-size: 120%;
              -webkit-transition: all 0.2s linear 0s;
              -moz-transition: all 0.2s linear 0s;
              -o-transition: all 0.2s linear 0s;
              transition: all 0.2s linear 0s;
}
li .user-menu li:hover i {
              color: #2a3744;
}
li.show .user-menu {
              padding: 0;
}
.my_account_section .nav-tabs>li.active, 
.my_account_section .nav-tabs>li.active:focus, 
.my_account_section .nav-tabs>li.active:hover{
    background-color: #009ee3;
}
.my_account_section .sub_action_links .nav-tabs>li.active, 
.my_account_section .sub_action_links .nav-tabs>li.active:focus, 
.my_account_section .sub_action_links .nav-tabs>li.active:hover{
    background-color: transparent;
    color: #009ee3;
}
/* .my_account_section .sub_action_links .nav-tabs>li{
    background: #d8d6d6;
    width:250px;
    text-align: center;
} */
.my_account_section .nav-tabs li.active>a, 
.my_account_section .nav-tabs li.active>a:focus, 
.my_account_section .nav-tabs li.active>a:hover, 
.my_account_section .nav-tabs li>a {
    border-bottom: 0px solid #0495d4;
    background: #0495d4;
    color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px 15px !important;
}
/* .my_account_section .sub_action_links .profile_fav_tab,.profile_reviews_tab{
    background: none !important;
    color: #009ee3 !important;
} */
.my_account_section .nav-tabs li a {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 8px 15px;
}

.my_account_section h3 {
    margin: 15px 0;
}

.my_account_section h4 {
    margin: 10px 0;
}


.my_account_section .nav-tabs>li {
    padding: 0;
    background-color: #eee;
}

.my_address_book {
    padding: 10px;
}

.my_favourites, .my_reviews {
    padding: 10px;
}

/* .enduser_profile_page .tab-content .tab-pane .my_profile{
    margin: 3px;
    margin-left: 10px;
} 
.enduser_profile_page .tab-content .tab-pane .my_address_book{
    margin: 15px;
}
.enduser_profile_page .tab-content .tab-pane .my_address_book h3{
   padding-bottom: 0px;
}
.enduser_profile_page .tab-content .tab-pane .change_password{
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 74px;
}*/
@media (min-width: 768px){
.my_account_section .nav>li:hover>a, .nav>li>a:focus {
    background: transparent;
    color: #333;
}
}
/* -------------------- profile upload img ----------------------- */
#tab_default_1 .avatar_pro{
    position: relative;
}
.text-block{
    position: absolute;
    bottom: 0px;
    left: -8px;
    background-color: transparent;
    color: #fff;
}
.text-block p{
    margin-bottom: 0px;
}
/* ----------------profile dropdown styles -------------------------- */
.profile_dropdown .nav .open>a,
.profile_dropdown .nav .open>a:focus, 
.profile_dropdown .nav .open>a:hover{
    background-color: transparent;
    border-color: transparent;
}
@media (min-width: 768px){
.profile_dropdown .nav>li:hover>a,
.profile_dropdown .nav>li>a:focus {
    background: transparent; 
}
}
.profile_dropdown .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: transparent;
}
.profile_dropdown .dropdown-toggle:after {
    display: none;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}


/* ----------------------- radio buttons styles ------------------ */

.form-horizontal .checkbox, .form-horizontal .radio{padding-top:14px; }

.radio{
  color:#999;
  font-size:15px;
  position:relative;
}

.radio span {
    position: relative;
    padding-left: 27px;
    padding-top: 2px;
}

.radio span:after{
  content:'';
  width:20px;
  height:20px;
  border:2px solid;
  position:absolute;
  left:0;
  top:1px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.radio input[type="radio"]{
   cursor: pointer; 
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.radio input[type="radio"]:checked + span{
  color:#009ee3; 
   
}
.radio input[type="radio"]:checked + span:before{
  content:'';
  width:8px;
  height:8px;
  position:absolute;
  background:#0ca2dc;
  left:6px;
  top:7px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], 
.radio input[type=radio], .radio-inline input[type=radio] {
	margin-left:0;
}


.checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
	margin-top:5px;
	margin-bottom:6px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #e0e0e0;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: #009ee3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}