

input[type='range'] {
  width: 100%;
}


/*Chrome*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #9a905d;
  }
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    color: #43e5f7;
  }
}


/** FF*/

input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}

input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}


/* IE*/

input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}

input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}

/* css for side menu */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Rating Star Widgets Style */
.rating-stars ul {
	list-style-type:none;
	padding:0;
	
	-moz-user-select:none;
	-webkit-user-select:none;
  }
  .rating-stars ul > li.star {
	display:inline-block;
	
  }
  
  /* Idle State of the stars */
  .rating-stars ul > li.star > i.fa {
	font-size:1.5em; /* Change the size of the stars */
	color:#ccc; /* Color on idle state */
  }
  
  /* Hover state of the stars */
  .rating-stars ul > li.star.hover > i.fa {
	color:#FFCC36;
  }
  
  /* Selected state of the stars */
  .rating-stars ul > li.star.selected > i.fa {
	color:#FF912C;
  }
  /* styles for support form
  .wb-input-group {
    position: relative;
}
.form-group {
  margin-bottom: 1rem;
}
.wb-ft-contact-form .form-control, .wb-ft-contact-form .form-control::placeholder {
  color: #fff;
}

.wb-input-group .form-control {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 10px 5px 0px;
  border-radius: 0;
}
.input-bar {
  position: relative;
  display: block;
  width: 100%;
}
.wb-input-group label {
  position: absolute;
  top: 10px;
  left: 0;
  color: brown;
  transition: all .3s ease;
} */
.modal-footer {
  padding: 15px;
  text-align: right;
   border-top: 0px solid #e5e5e5; 
}
.modal-header {
  padding: 15px;
  border-bottom: 0px solid #e5e5e5;
}
.modal-backdrop.in {
  opacity: 0.7;
}
.modal {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  outline: 0;
}
.mb-2{
  margin-bottom: 1em;
}
.mt-2{
  margin-top: 1em;
}
/* fixed navtab */
.isScrolled {
  background-color: rgba(0, 0, 0, .95);
  box-shadow: 5px 5px 9px rgba(0, 0, 0, .25);
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px)
{
.navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
}