/* @Author: Adesh */


.tabs-main-wrapper	{
	width: 100%;
}

ul.tabs	{
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.tabs li, .tabs li a	{
	display: inline-block;
}

.tabs li	{
	border: 1px solid #CCC;
	background: #F5F5F5;
	border-radius: 0.25rem 0.25rem 0 0;
	outline: 0;
}

.tabs li.active	{
	background: #CCC;
}

.tabs a	{
	text-decoration: none;
	padding: .5rem 1.5rem;
	color: #333;
	outline: 0;
}

.tabs-container	{
	border: 1px solid #CCC;
	overflow: hidden;
	padding: 1rem;
	background: #CCC;
	border-radius: 0 0.25rem 0.25rem 0.25rem;
}

.tabs-container .t-c	{
	position: relative;
}

.tabs-container section.tabs-contents	{
	
}

.tabs-container section.tabs-contents	{

}

.tabs-container section.tabs-contents.active	{
	display: block !important;
}

.tabs-container h1	{
	font-size: 1.25rem;
}

#panel-1, #panel-2, #panel-3	{
	float: left;
	position: relative;
	/*	width: 750px;*/
	/*	border: 1px solid #999;*/	
}




/* dropdown manu style */
.dd-select	{
	background: #F5F5F5 url("../img/avjHH.png") no-repeat right center;
    border: 1px solid #ccc;
}
.dd-select select	{
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance:none;
	width: 105%;
	height: 2.75rem;
	padding-left: 1rem;
	border: 0;
	cursor: pointer;
	position: relative;
	z-index: 991;
	outline: 0;
}
.dd-select select option	{
	padding: 0.25rem 1rem;
	line-height: 1;
}

.dd-fold	{
	line-height: 1.25rem;
	xtext-align: left;
}
.dd-fold span	{
	font: bold 1.25rem/1.75 Arial;
/*	border: 1px solid #CCC;*/
	color: #999;
	display: inline-block;
	width: 2rem;
	height: 2rem;
	border-radius: .2rem;
	text-align: center;
	cursor: pointer;
	float: right;
	position: absolute;
	right: 5%;
	z-index: 990;
}
.tabs	{
	position: relative;
}


/* Media Queries for Tab Structure */
@media only screen and (min-width: 480px) , only screen and (min-width: 320px) {
	
	.tabs-main-wrapper .dd-fold	{
		display: block;
	}
	.tabs-main-wrapper ul.tabs	{
		display: none;
	}
	.tabs-main-wrapper .tabs-container	{
		border-radius: 0 0 0.25rem 0.25rem;
	}
}


@media only screen and (min-width: 768px) {

	.tabs-main-wrapper .dd-fold	{
		display: none;
	}
	.tabs-main-wrapper ul.tabs	{
		display: block;
	}
}


/* carousel  stars css */
.owl-carousel .item img{
	width: 200px;
	height: 200px;
}
/* like style */




  
