
@media (max-width: 575.98px) {
    body{
        font-size: 11px;
    }
    .h2, h2 {
        font-size: 20px;
    }
    .h3, h3{
        font-size: 18px;
    }
    .h4, h4{
        font-size: 16px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {    
    .h2, h2 {
        font-size: 22px;
    }
    .h3, h3{
        font-size: 20px;
    }
    .h4, h4{
        font-size: 18px;
    }
}
@media (max-width: 767.98px) {}
@media (min-width: 768px){
    .wb-ban-text{
        padding-right: 50px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    body, .form-control::placeholder, ::placeholder{
        font-size: 13px;
    }
    .h2, h2 {
        font-size: 24px;
    }
    .h3, h3{
        font-size: 22px;
    }
    .h4, h4{
        font-size: 20px;
    }
}
@media (max-width: 991.98px) {}
@media (min-width: 992px){
    .text-md-center{
        text-align: center;
    }
    .wb-feature-pic{
        padding-right: 60px;
    }
    .wb-uses-list{
        margin-top: 50px;
    }
    .wb-uses-list li{
        font-size: 25px;
    }
    .wb-uses-list li + li{
        margin-top: 23px;
    }
    .wb-uses-list li i{
        font-size: 18px;
    }
    .wb-uses-list.text-md-right li i{
        float: right;
        transform: rotate(180deg);
        font-size: 18px;
        margin-top: 13px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    body, .form-control::placeholder, ::placeholder{
        font-size: 14px;
    }
    .h2, h2 {
        font-size: 26px;
    }
    .h3, h3{
        font-size: 24px;
    }
    .h4, h4{
        font-size: 22px;
    }
}
@media (min-width: 1200px) {
    .wb-nav{
        padding: 0 50px;
    }
    .wb-nav.navbar-dark .navbar-nav .nav-link, 
    .wb-book-bubble-box a{
        padding: 25px 10px;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .wb-nav.navbar-dark .navbar-nav .nav-link{
        position: relative;
    }
    .wb-nav.navbar-dark .navbar-nav .nav-link::before, 
    .wb-nav.navbar-dark .navbar-nav .nav-link::after{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid rgba(249, 179, 47,0.5);        
        border: 2px solid rgba(255,255,255,0.5);
        /* color: rgb(249, 179, 47); */
        border-radius: 50%;
        content: '';
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
        -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
        transform: translateX(-50%) translateY(-50%) scale(0.2);
    }
    .wb-nav.navbar-dark .navbar-nav .nav-link::after{
        width: 40px;
        height: 40px;
        border-width: 4px;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
        -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
        transform: translateX(-50%) translateY(-50%) scale(0.8);
    }
    .wb-nav.navbar-dark .navbar-nav .nav-link:hover::before, 
    .wb-nav.navbar-dark .navbar-nav .nav-link:hover::after{
        opacity: 1;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
        -moz-transform: translateX(-50%) translateY(-50%) scale(1);
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
    .wb-book-bubble-box a{
        padding: 10px 25px;
    }

}
