
@import url(https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css);

*{
    margin: 0; padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
p{
    text-align: justify;
}
body, a{
    color: #555;
}
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 700;
    color: #111;
}
a, .btn, button{
	cursor: pointer;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}
a:hover{
    color: #15DDD8;
}
a:hover, .btn:hover, button:hover{
    text-decoration: none;
}
a:focus, .btn:focus, button:focus{
    outline: none;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 0px dotted ButtonText;
}
ul, ol{
	list-style: none;
	margin: 0;
}
::-moz-selection {
	background-color: #15DDD8;
	color: #fff;
}
::-webkit-selection {
	background-color: #15DDD8;
	color: #fff;
}      
::selection {
	background-color: #15DDD8;
	color: #fff;
}

/****************************************************
    common styles
******************************************************/
.hidden{
    overflow-y: hidden;
}
.wb-nav, .wb-ft-social a, .wb-book-bubble-modal-close, 
.wb-product-box, .wd-product-pic img, .wb-benefit-box img,
.wb-feature-box, .wb-feature-box .h4, .wb-feature-box span, 
.wb-feature-box img{
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}
.f-b, .bold-font{
    font-weight: bold;
}
.light-font{
    font-weight: 200;
}
.wb-parallax{
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wb-overlay{
    position: relative;
}
.wb-overlay::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
}
.wb-title .h2{
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    text-transform: capitalize;
}
.wb-title .h2::before{
    position: absolute;
    z-index: 10;
    width: 100%;
    content: '';
    height: 2px;
    background: #ddd;
    bottom: -10px;
    left: 0px;
}
.wb-title .h2::after{
    position: absolute;
    z-index: 10;
    width: 50%;
    content: '';
    height: 2px;
    background: #15DDD8;
    bottom: -10px;
    left: 0px;
}

/****************************************************
    page styles
******************************************************/
.preloader{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    transition: all .5s ease;
}
.home-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 250px;
    perspective: 100px;
}
.preloader img.delivery-boy{
    animation: run 5s linear 0s;
    height: 150px;
    position:absolute;    
}
.loader-box{
    position:absolute;
    z-index: 2;
    bottom: 0%;
    width: 100%;
    height: 150px;
}
@keyframes run {
    0% { left: 0;}
    100%{ left : 100%; }
}
.loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
  }
  
  /* @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */

/****************************************************
    page styles
******************************************************/
.wb-page-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    
    /* background-image: url(../images/bgs/body-bg.png) !important; */
    /* background-image: url(../images/bgs/bg1.png) !important; */
    background-image: url(../images/bgs/bg2.png) !important;
    /* background-image: url(../images/bgs/bg3.png) !important; */
    /* background-image: url(../images/bgs/bg4.png) !important; */
    /* background-image: url(../images/bgs/bg5.png) !important; */
    background-size: 100%;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, .7) !important;
    /* background-color: rgba(0, 0, 0, .7) !important; */
    background-repeat: repeat;
    background: transparent;
    background-attachment: fixed;
}

.wb-section{
    padding: 0;
}
.wb-resp-section{
    padding: 4em 0 2.5em;
}

/****************************************************
    nav styles
******************************************************/
.wb-nav{
    background-color: #15DDD8;
    background-color: #010001;
    background-color: transparent;
}
.isScrolled{
    background-color: rgba(0, 0, 0, .95);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, .25);
}
#wb-menu{
    width: auto;
    flex-grow: 0;
}
.wb-nav.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    text-transform: uppercase;
   
}
.wb-nav.navbar-dark .navbar-nav .nav-link:focus, .wb-nav.navbar-dark .navbar-nav .nav-link:hover, 
.wb-nav.navbar-dark .navbar-nav .active > .nav-link, .wb-nav.navbar-dark .navbar-nav .nav-link.active, 
.wb-nav.navbar-dark .navbar-nav .nav-link.show, .wb-nav.navbar-dark .navbar-nav .show > .nav-link {
    color: #15DDD8;
}
/* .wb-nav{
    padding: 0 50px;
} */
.wb-nav.navbar-dark .navbar-nav .nav-link, 
.wb-book-bubble-box a{
    /* padding: 25px 10px; */
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.wb-nav.navbar-dark .navbar-nav .nav-link{
    position: relative;
}
.wb-nav.navbar-dark .navbar-nav .nav-link::before, 
    .wb-nav.navbar-dark .navbar-nav .nav-link::after{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid rgba(249, 179, 47,0.5);        
        border: 2px solid rgba(255,255,255,0.5);
        /* color: rgb(249, 179, 47); */
        border-radius: 50%;
        content: '';
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
        -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
        transform: translateX(-50%) translateY(-50%) scale(0.2);
    }
    .wb-nav.navbar-dark .navbar-nav .nav-link::after{
        width: 40px;
        height: 40px;
        border-width: 4px;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
        -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
        transform: translateX(-50%) translateY(-50%) scale(0.8);
    }
    .wb-nav.navbar-dark .navbar-nav .nav-link:hover::before, 
    .wb-nav.navbar-dark .navbar-nav .nav-link:hover::after{
        opacity: 1;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
        -moz-transform: translateX(-50%) translateY(-50%) scale(1);
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
    .wb-book-bubble-box a{
        padding: 10px 25px;
    }
/****************************************************
    book bubble styles
******************************************************/
.wb-book-bubble-box{
    display: flex;
    margin-left: auto;
}
.wb-book-bubble-box a{
    display: inline-flex;
    background-color: #15DDD8;
    color: #fff;
    background-image: linear-gradient(to right,#15DDD8 0,#008582 51%,#15DDD8 100%);
    background-size: 200% auto;
}
.wb-book-bubble-box a:hover{
    background-image: linear-gradient(to right,#008582 0,#15DDD8 51%,#008582 100%);    
}
.wb-book-bubble-modal{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 2020;
}
.wb-book-bubble-modal, 
.wb-book-bubble-modal-overlay{
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
}
.wb-book-bubble-modal.active, 
.wb-book-bubble-modal-overlay.active{
    visibility: visible;
    opacity: 1;
}
.wb-book-bubble-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2010;
    background-color: rgba(0,0,0,.7);
}
.wb-book-bubble-modal-content{
    position: relative;
    z-index: 2050;
    min-width: 500px;
    background-color: #fff;
    padding: 50px;
}
.wb-book-bubble-modal-body{
    position: relative;
}
.wb-book-bubble-modal-close{
    position: absolute;
    z-index: 2060;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #F4364C;
    padding: 7px 12px;
    cursor: pointer;
}

/****************************************************
    banner styles
******************************************************/
.wb-banner{
    position: relative;
    margin-top: 0px;
    padding: 100px 0;
    background-color: #42D7FF;
    height: 100vh;
    /* background: linear-gradient(to right, rgba(0, 44, 143, 1) 0%, rgba(33, 182, 255, 1) 100%);    
    background: linear-gradient(to right, #15DDD8 0%, rgb(199, 129, 0) 100%);     */
    background: url(../images/waterbg.png) center center;    
    background: url(../images/slow-motion-water-tumblr.gif) center center ;
    background-size: cover;
    overflow: hidden;
}
.wb-banner::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,.7);
}
.wb-banner::before{
    background: url(../images/banner-border.png) 50% 100% repeat-x;
    content: "";
    position: absolute;
    height: 16px;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 7;
}
.wb-banner .container{
    position: relative;
    z-index: 5;
}
.wb-ban-text{
    padding: 100px 0;
}
.wb-ban-text .h2{
    font-size: 40px;
}
.wb-ban-text .h1{
    font-size: 55px;
}
.wb-ban-text p{
    color: #fff;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
}
.wb-ban-pic img{
    height: 550px;
    transform: translateY(30px);
}

/****************************************************
    products styles
******************************************************/
.wb-product-box{
    position: relative;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .15);
}
.wb-product-box:hover{
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, .25);    
}
.wd-product-text{
    padding: 30px 25px;
    background-color: #fff;
}
.wd-product-pic{
    overflow: hidden;
}
.wb-product-box:hover .wd-product-pic img{
    transform: scale(1.05);
    opacity: .7;
}
.wb-list li{
    position: relative;
    padding-left: 25px;
}
.wb-list li + li{
    margin-top: 5px;
}
.wb-list li::before{
    font-family: 'simple-line-icons';
    content: "\e079";
    position: absolute;
    left: 0;
    top: 0;
    color: #15DDD8;
}

/****************************************************
    about styles
******************************************************/
.wb-about-section{
    background-image: url(../images/bgs/aboutus-bg.jpg);
}
.wb-mission p{
    font-size: 40px;
    text-align: right;
}
.wb-about-text{
    padding-left: 50px;
}

/****************************************************
    benefits styles
******************************************************/
.wb-benefit-box{
    position: relative;
    overflow: hidden;
}
.wb-benefit-box::before{
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .55);
}
.wb-benefit-box:hover img{
    transform: scale(1.2);
}
.wb-benefit-text{
    position: absolute;
    z-index: 5;
    top: 70px;
    left: 35px;
    right: 35px;
}
.wb-use-box img{
    height: 400px;
}
.wb-uses-list li{
    font-style: italic;
    color: #111;
    font-weight: lighter;
}
.wb-uses-list li + li{
    margin-top: 15px;
}
.wb-uses-list li i{
    color: #15DDD8;
    display: none;
}

/****************************************************
    process styles
******************************************************/
/* .wb-process-section{
    background-image: url(../images/bgs/process-bg.png);
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, .9);
    background-size: cover;
    background-attachment: fixed;
} */
.wb-process-title{
    margin-bottom: 70px;
}
.wb-process-box{
    position: relative;
}
.wb-process-box .h4{
    font-weight: 200;
    font-size: 22px;
}
.wb-process-icon{
    display: block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border: 2px solid #eaeaea;
    border-radius: 50%;
    margin: 0 auto;
    color: #15DDD8;
}
.wb-prc-icon{
    font-size: 25px;
    font-weight: bold;
}
.wb-prc-step{
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #15DDD8;
    font-weight: 700;
    top: -10px;
    left: 50%;
    color: #222;
    margin-left: -40px;
}
.wb-prc-line{
    position: absolute;
    top: 35px;
    top: 75px;
    width: 50%;
    right: -25%;
    border-top: 2px dashed #ccc;
}
.wb-prc-line::after {
    border-top: 8px solid transparent;
    border-left: 8px solid #ccc;
    border-bottom: 8px solid transparent;
    content: "";
    width: 8px;
    height: 16px;
    position: absolute;
    top: -9px;
    right: -2px;
}
.wb-process-box img{
    height: 150px;
}

/****************************************************
    features styles
******************************************************/
.wb-feature-box{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 5px;
    padding: 40px 20px;
}
.wb-feature-box img{
    height: 90px;
}
.wb-feature-box:hover{
    background-color: #15DDD8;
}
.wb-feature-box:hover .h4, .wb-feature-box:hover span{
    color: #fff;
}
.wb-feature-box:hover img{
    transform: rotateY(360deg);
}

/****************************************************
    services styles
******************************************************/
.wb-services-section{
    background-image: url(../images/bgs/services-bg2.jpg);
}
.wb-service-title{
    position: relative;
}
.wb-service-title::before{
    border: 1px solid #15DDD8;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    width: 50px;
}
.wb-left-service-box{
    position: relative;
    padding: 100px 40px 100px;
    background-color: #15DDD8;
    background-color: #efefef;    
}
.wb-left-service-box::before{
    content: '';
    background-color: #15DDD8;
    background-color: #efefef;    
    width: 5000px;
    height: 100%;
    display: table;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -5000px;    
}
.wb-right-service-box{
    padding: 60px 0px 60px 70px;
}
.wb-left-service-box .wb-service-box{
    /* position: absolute;
    top: 50%;
    left: 0%; */
    transform: translate(-0%, -50%);
    width: 100%;
}
.wb-service{
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
}
.wb-service img{
    width: 90px;
    margin-bottom: 15px;
}

/****************************************************
    supplier styles
******************************************************/
.no-padd{
    padding: 0;
}
.wb-supplier-text{
    background-color: rgba(21, 221, 216,.25);
    background-color: rgba(255, 255, 255,1);
    padding: 30px;
    border: 1px solid#ddd;
    border-left: 0;

}
.wb-supplier-text ul li{
    font-size: 20px;
}
.wb-supplier-text ul li + li{
    margin-top: 12px;
}


/****************************************************
    contact styles
******************************************************/
.wb-contact-box i, .wb-counter-box i{
    font-size: 36px;
    color: #111;
}
.wb-contact-box .h4{
    padding: 10px 0;
}
.wb-counter-box span{
    padding: 5px 0;
    font-size: 45px;
    font-weight: bold;
    color: #15DDD8;    
}

.wb-ft-contact-form .wb-input-group .form-control{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 10px 10px 5px 0px;
    border-radius: 0;
}
.wb-ft-contact-form .form-control:focus{
    color: #fff;
    outline: none;
    box-shadow: none;
}
.wb-ft-contact-form .form-control, 
.wb-ft-contact-form .form-control::placeholder{
    color: #fff;
}
.wb-ft-contact-form .form-control::placeholder{
    color: rgba(255, 255, 255, .7);
}
.form-control:focus {
    box-shadow: none;
}
.input-bar {
    position: relative;
    display: block;
    width: 100%;
}

.input-group-addon {
    width: auto;
    white-space: nowrap;
    vertical-align: middle;
    padding: 9px 12px;
}

.input-group-btn {
    width: auto;
    white-space: nowrap;
    vertical-align: middle;
    line-height:1.6em;
}

.wb-input-group .input-bar::before, .wb-input-group .input-bar::after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #15DDD8;
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.wb-input-group .input-bar::after{
    left: 50%;
}
.wb-input-group .form-control:focus ~ .input-bar::before, 
.wb-input-group .form-control:focus ~ .input-bar::after, 
.wb-input-group.filled .input-bar::before,
.wb-input-group.filled .input-bar::after{
    width: 50%;
}
.wb-input-group{
    position: relative;
}
.wb-input-group + .wb-input-group{
    margin-top: 20px;
}
.wb-input-group label{
    position: absolute;
    top:-7px;
    left: 0;
    color: #15d6d0;
    transition: all .3s ease;
}
.wb-ft-contact-form .wb-input-group .form-control:focus ~ label, 
.wb-ft-contact-form .wb-input-group.filled label{
    top: -15px !important;
    color: #15DDD8;
}

/****************************************************
    footer styles
******************************************************/
.wb-footer{
    background-image: url('/images/footer-bg.jpg');
    background-image: url('../images/bgs/footer-bg3.png');
    /* background-size: 100%; */
    background-attachment: scroll;
}
.wb-footer.wb-overlay::before{
    top: 150px;
    opacity: 0;
}
.wb-f-top{
    padding: 4em 0 2.5em;
    padding: 200px 0 .5em;
}
.wb-ft-title{
    position: relative;
    padding-bottom: 15px;
}
.wb-ft-title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    height: 3px;
    width: 120px;
}
.wb-ft-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    border-bottom: 1px dotted #fff;
    width: 100%;
}
.wb-ft-social a{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #fff;
    color: #555;
}
.wb-ft-social a:hover{
    color: #fff;
}
.wb-ft-social a i{
    position: relative;
    z-index: 99;
}
.wb-ft-social a::before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #15DDD8;
    transition: all .3s ease;
}
.wb-ft-social a:hover::before{
    top: 0;
}
.wb-ft-social a + a{
    margin-left: 5px;
}
.wb-adrs-box ul li{
    position: relative;
    padding-left: 25px;
    color: #fff;
}
.wb-adrs-box ul li + li{
    margin-top: 15px;
}
.wb-adrs-box ul li i{
    position: absolute;
    top: 5px;
    left: 0;
    color: #15DDD8;
}
.wb-adrs-box ul li a{
    color: #fff;
}
.wb-copyright{
    padding: 30px 0 20px;
    border-top: 1px solid #737373;
}
.wb-copyright a{
    color: #fff;
}

/****************************************************
    font colors styles
******************************************************/
.wb-txt, .wb-copyright a:hover, 
.wb-adrs-box ul li a:hover{
    color: #15DDD8;
}
.wb-txt{
    color: #15DDD8 !important;
}
.wht-txt{
    color: #fff !important;
}
.red-txt{
    color: #F4364C;
}
.wb-bg{
    background-color: #15DDD8;
}
.wht-bg{
    background-color: #fff;
}
.bg-faded{
    background-color: #f8f8f8;
}
/* .bg-color-gradient {
    background: linear-gradient(to right, rgba(0, 44, 143, 1) 0%, rgba(33, 182, 255, 1) 100%);
} */

.wb-book-bubble-modal-close:hover{
    background-color: #15DDD8;
    color: #fff;   
}

/****************************************************
    button styles
******************************************************/
.btn{
    display: inline-block;    
    padding: 12px 30px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 4px;    
    font-weight: bold;
}
.ban-rm-btn{
    margin-right: 10px;
    border: 1px solid #fff;
    color: #fff;
}
.ban-rm-btn:hover{
    color: #fff;
    background-color: #15DDD8;
    border-color: #15DDD8;
}
.ban-bkn-btn{
    color: #fff;
    background-color: #15DDD8;
    border: 1px solid #15DDD8;
}
.ban-bkn-btn:hover{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.wb-book-bubble-btn{
    padding: 10px 25px;
}

 
/* -------------------------------  wb-responsive styles   end  ---------------------------- */
.border-bottom .col-md-8{
    margin-top: 20px;
}
.price-tag{
    margin: 34px 0px;
}
.divgap{
    margin-top: 10px;
}
.gap{
    margin-top: 30px;
}
.brand-font{
    font-weight:700px;
    color: gray;
    font-size: 11px;
}
.list-header{
    font-size: 16px;
}
.price{
    font-size: 30px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
     border: 0px solid transparent; 
    border-radius: 4px;
    box-shadow: 0 0px 0px rgba(0,0,0,.05); 
}

 /* .topspacing-bubbletops{
   padding-top: 25px; 
}*/
/* .img-fluid {
    max-width: 118px;
    height: auto;
} */


.nav-tabs>li {
    border-radius: 0;
    margin-right: 2px;
    font-size: 13px;
    font-weight: bold;
    display: block;
    padding: 10px 22px;
    text-transform: uppercase;
    color:#444d58;
    background-color: #e3f2fd;
    cursor: pointer;
}

/* .nav-tabs>li>a {
    margin-right: 2px;
    color: aliceblue;
    background: #737373;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 4px 4px 0 0;
} */

.nav-tabs>li.active, .nav-tabs>li.active:focus, .nav-tabs>li.active:hover {
    color: #fff;
    cursor: default;
    background-color: #009ee3;
    cursor: pointer;
}
/* .nav-tabs>li.active>a{
    background-color: #eceded;
} */

sidebar {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: transform .3s ease-out;
    Transition: -webkit-transform .3s ease-out;
}
.wb-book-bubble-box li{
    list-style-type: none;
}
  
/* -------------------------------  wb-responsive styles   end  ---------------------------- */

/* -------------------------------  wb-responsive styles   end  ---------------------------- */
.filterSection,.confirmpage{
    background: white;
}

.col-sm-5 label{
    text-align: right;
}
.quantitybox{
    width:70px;
}

/* -------------------------------  Order page css start ---------------------------- */
.delivery-widget .date{
    font-size:13px;
}

.navbar-light {
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: linear-gradient(154deg,#008fe2,#00b29c);
    -webkit-background-image: linear-gradient(154deg,#008fe2,#00b29c);
    -moz-background-image: linear-gradient(154deg,#008fe2,#00b29c);
    -o-background-image: linear-gradient(154deg,#008fe2,#00b29c);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.06);
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.06);
    -moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,.06);
    -o-box-shadow: 0 2px 8px 0 rgba(0,0,0,.06);
}

.inner-box {
    background: #ffffff;
    border-radius: 3px 3px;
    box-shadow:none;
    margin-bottom: 30px;
    padding: 10px 15px;
}

.list-title {
    color: #222;
    font-size: 18px;
    border-bottom: solid 1px #ddd;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 0;
    position: relative;
    text-transform: uppercase;
}

.list-title:before {
    border-color: #ddd transparent transparent;
    border-style: solid;
    border-width: 7px;
    bottom: -14px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: " ";
    display: block;
    left: 34px;
    position: absolute;
    z-index: 2;
}

.list-title:after {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 6px;
    bottom: -12px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: " ";
    display: block;
    left: 35px;
    position: absolute;
    z-index: 2;
}

.form-control {
    font-size: 1.5rem;
}

.filter-list .input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 2;
    border-radius: 0;
    padding: 6px 10px;
}

.filter-list .input-group-append {
    margin-left: -1px;
    position: absolute;
    top: 0;
    right: 0;
}

.filter-list .form-group {
    margin-bottom: 1rem;
    position: relative;
}

.filter-list input[type=checkbox], input[type=radio] {
    margin: 0 5px 0 0;
}

.long-list li {
    margin-bottom: 3px;
    border-bottom: 1px solid #eee;
}

/* select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 10px);
}

select.form-control{font-size:1.5rem; } */

.sidebar-card .card-header {
    background: #f8f8f8;
    position: relative;
    border-bottom: solid 1px #ddd;
    font-size: 16px;
    line-height: 22px;
    padding:0.75rem .75rem;
}

.DayPicker-NavButton{
    top:2px;
    right:2px;
}
/* .rating-stars {
    margin-bottom: 10px;
    margin-top: 3px;
} */

.rating-stars ul > li.star {
    display: inline-block;
}

.rating-stars ul > li.star.selected > i.fa {
    color: #FF912C;
}

.info-row {
    display: block;
    clear: both;
    padding-bottom: 4px;
    font-size: 13px;
}

.enduser_orderpage .item-price sup {
    top: -.1em;
}

.enduser_orderpage .item-price sup i{
    padding-right:3px;
    font-size:17px;
}

.enduser_orderpage .item-list {
    border: solid 1px #ddd;
    clear: both;
    padding: 7px;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0 2px 9px 0 rgba(0,0,0,0.16); */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    -moz-transition: background 0.25s ease-in;
    -o-transition: background 0.25s ease-in;
    transition: background 0.25s ease-in;
    -webkit-transition: background 0.25s ease-in;
}

.enduser_orderpage .item-list:hover {
    background: #F6F6F5;
}

.enduser_orderpage .panel {padding:12px; }

.enduser_orderpage .price-box p {
    text-align: right;
}

.enduser_orderpage .panel h2 {
    font-size: 24px;
    padding-bottom: 0;
}

.navbar {
    border-radius: 0;
}

.postadd .btn-primary {
    color: #fff;
    background-color: #1b75bb;
    border-color: #1b75bb;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0093ff!important;
    border-color: #0093ff!important;
}

/* .postadd .btn, .lang-menu .btn, .dl-horizontal .btn, .order .btn {
    padding: 6px 30px;
} */

.postadd {
    margin-right: 15px;
}

.postadd .btn, .lang-menu  .btn{
    border-radius:4px;
}

.lang-menu .btn-default {
    color: #1b75bb;
    background-color: #fff;
    border-color: #1b75bb;
}

.lang-menu .btn-default:hover {
    color: #fff;
    background-color: #009ee3;
    border-color: #009ee3;
}

/* --------------- Product details page ------------------- */

.list-check > li {
    margin-bottom: 10px;
    padding-bottom: 1px;
    position: relative;
    text-align: left;
    border-bottom: 0px solid #ccc;
}

.input-group,.my_address_book .seller-info .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-btn,.my_address_book .seller-info .input-group-btn {
    position: relative;
    -ms-flex-align: stretch;
    align-items: stretch;
    font-size: 0;
    white-space: nowrap;
    width: auto;
}

.mode-of-pay .btn-info {
    color: #fff;
    background-color: #66bdb0;
    border-color: #7ac2b7;
}

.mode-of-pay .btn-default {
    color: #1b75bb;
    background-color: #fff;
    border-color: #1b75bb;
    margin-right:10px;
}

.mode-of-pay .btn-default:hover, .mode-of-pay .btn-default:active {
    color: #fff;
    background-color: #009ee3;
    border-color: #009ee3;
}

.mode-of-pay .btn {
    display: inline-block;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 700;
}

.quantity .input-group{
    display: block;
}

.quantity .btn,.my_address_book .seller-info .quantity .btn {
    display: inline-block;
    padding: 7px 10px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius:0;
    font-weight: 700;
}

.quantity .btn-default,.my_address_book .seller-info .quantity .btn-default {
    color: #1b75bb;
    background-color: #fff;
    border-color: #1b75bb;
}

.total_product_details {
    margin-top: 20px;
}

.total_product_details .price {
    font-size: 18px;
}

.total_product_details p {
    margin-bottom:0;
}

.alert .btn-info {
    border: none;
    padding: 2px 7px;
    border-radius: 3px;
    background-color: #1b75bb;
}
.alert{
    margin-bottom: 10px;
    padding:4px 6px;
}

.alert .btn-info:hover {
    border: none;
    background-color: #009ee3;
}


/* ------------------ Confirm oredr -------------- */
.dl-horizontal dt{
    text-align:left;
}

.page-content .inner-box .title-2 {
    line-height: 1;
    margin: 5px -20px 12px;
    padding: 0 20px 20px;
}

.title-2 {
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom:10px;
    text-transform: uppercase;
    text-align: left;
}

/* .inner-box.category-content {
    padding-bottom: 0;
    height:80vh;
} */

.seller-profile-img{position: relative; }

.seller-profile-img .like {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    z-index: 9;
    color: #FF1654;
}


/* --------------- Banner Slider ----------------- */
.main-slider{
    padding-top:4%;
    margin-bottom:2%;
}
#myCarousel .carousel-inner .item .img-responsive {
    margin-right:0px;
     margin-left:0px;
      width:100%;
}
.carousel-control {
    height: 0;
    position: absolute;
    top: 40%;
    bottom: 0;
    left:0;
    width: auto;
    font-size: 50px;
    color: #1b75bb;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control.left {
    left:3%;
    right:auto;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80000000",endColorstr="#00000000",GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 3%;
    left: auto;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#80000000",GradientType=1);
    background-repeat: repeat-x;
}

.carousel-indicators li{
    width:12px;
    height:12px;
    margin-top:0;
    margin-bottom:0;
}

.carousel-indicators .active{margin:0 3px; }

.carousel-indicators{width:60%; }


/* --------------- modal popup tabs for change address ----------------- */
.static-modal .nav-tabs li a:hover,
.static-modal .nav-tabs li a:focus,
.static-modal .nav-tabs li a.active,
.static-modal .nav-tabs li.active > a:hover, 
.static-modal .nav-tabs li.active > a:focus {
    border-radius: 0;
    font-size: 13px;
    font-weight: bold;
    display: block;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
    background-color: #009ee3;
    border: none;
}

.static-modal .nav-tabs li > a {
    border-radius: 0;
    font-size: 13px;
    font-weight: 700;
    display: block;
    padding: 0;
    text-transform: uppercase;
    color: #444d58;
    background-color: #e3f2fd;
    border: none;
}

.static-modal .nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.static-modal .tab-content , .static-modal .tab-content .tab-pane {
    padding: 0;
    border: none;
}

 /*.input-group>.form-control, .static-modal .input-group-addon, .static-modal .input-group-btn {
    width: auto;
} */

.static-modal .modal-header {
    border-bottom: none;
    background-color: #009ee3;
}

.static-modal .modal-title {
    color:#fff;
}

.static-modal .close {
    float: right;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.0;
    color: #ffff;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    right: 10px;
    background-color: #009ee3;
    top: 10px;
}

/* --------------- payment page ----------------- */

.enduser_confirm_orderpage {
    padding-top: 6%;
}
.enduser_payment {
    padding-top: 6%;
}
.enduser_confirm_orderpage .confirm-wb-section {
    margin-bottom: 16px;
}

.enduser_payment .form-control {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.enduser_payment .input-group-text {
    display: -ms-flexbox;
    display: flex;
    padding: 0.85rem .75rem;
    margin-bottom: 0;
   font-size: 1.5rem;
}

.enduser_payment .input-group-append, .enduser_payment .input-group-prepend {
    display: -ms-flexbox;
    display: block;
}

.enduser_payment .card-body p img {
    margin-right:5px;
}

.enduser_payment .form-group {
    margin-bottom: 0;
}
.tabLabelcls{
    background: red;
}
 
.credit-card-div .p-3 {
    padding: 1rem!important;
    width: 400px;
}
.cancel-btn{
    float: right;
}

.mid-content .btn-cng-ad {
    background-color: transparent;
    border: none;
    color: #009ee3;
    float: right;
    font-size: 13px;
    text-decoration: underline;
    font-weight: bold;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, 
.img-responsive, .thumbnail>img, .thumbnail a>img{margin:0 auto; }

/* .mid-content .form-control {
    width:85%;
} 

.static-modal .tab-content {
    padding: 0;
    border: 1px solid #ccc;
}*/

.card .btn-cng-ad {
    background-color: transparent;
    border: none;
    color: #009ee3;
    float: right;
    font-size: 12px;
    text-decoration: underline;
    font-weight: 700;
    padding-top: 2px;
}

.card .btn-cng-ad:hover {
    color:#007bff;
}

/* .order_now .form-control {
    display: block;
    width: 100%;
    padding: 0 3rem;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;
    border-radius: .25rem;
    border-top: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-left: none;
    border-right: none;
    box-shadow: none;
} */

.order_now .form-control:focus {
    border-color: #66afe9;
    outline: 0;
}

.order_now .form-group {
    margin-bottom: 2rem;
}

/* .order_now .input-group-addon {
    background-color: transparent;
    border: none;
    width: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
    padding: 0;
} */
/* -----------------------water uses styles------------------------ */
@media (min-width: 992px){
.wb-uses-list {
    margin-top: 50px;
}
.wb-uses-list li + li{
    margin-top: 23px;
}
}
.wb-uses-list li{
    font-size: 25px;
}
/* ----------------------styles for quantity btns in add to cart page---------------- */
.my_address_book .seller-info .quantity .input-group .input-group-btn .btn:active,
.my_address_book .seller-info .quantity .input-group .input-group-btn .btn:focus{
    margin: 0;
    padding: 1px 7px;
    border-radius: 0;
    box-shadow: none;
    margin-left: -1px;
}
.my_address_book .seller-info .col-sm-6.text-right .update_incart_btn{
    float:right;
}
.quantity .input-number,
 .my_address_book .seller-info .quantity .input-number{ 
    width:140px;
    border-right:none;
}
.quantity .btn-number{
    height: 32px;
    width: 32px;
}
.my_address_book .seller-info .quantity .btn-number{
    height: 32px;
    width: 32px;
    border:1px solid #1b75bb;
    margin-bottom: 0px;
}
.quantity button{
    -webkit-appearance: button;
    width: 120px;
}
/* styles for update order when it is in in cart modal  */
/* .my_address_book .seller-info .nav-tabs>li{
   
    padding: 10px 28px;
} */
.my_address_book .seller-info .static-modal .nav-tabs li>a{
    padding: 8px 15px !important;
}
.my_address_book .seller-info .tab-content .tab-pane {
    padding: 1rem;
}
.my_account_section .my_address_book .seller-info .modal-content .modal-body .tab-content #tab_default_1 .form-group,
.my_account_section .my_address_book .seller-info .modal-content .modal-body .tab-content #tab_default_2 .form-group{
    margin-bottom: 15px !important;
}
.my_address_book .seller-info .static-modal .nav-tabs li>a,
.my_address_book .seller-info .static-modal .nav-tabs li.active>a{
    padding: null;
}
/* -------------styles for product description input boxes in addto_cart ---------------- */
.total_product_details .form-control {
    height: 32px;
}
/* --------------- styles for static modal in change delivery location ------------ */
.static-modal .modal-header .close {
    padding: 0rem;
    margin: 0rem 0rem 0rem 0rem;
}
.modal-body .nav-tabs>li.active{
    color: #fff;
    background-color: #009ee3;
    cursor: pointer;
}
.modal-body .nav-tabs>li {
    padding: 0;
    margin-right:4px;
}
@media (min-width: 768px){
.modal-dialog {
    width: 600px;
    margin: 10px auto;
  }
}
/* --------------------- previous order styles in tab_content.jsx ------------------------- */
.previous_orders{
    background-color: #ccedfc;
    border: 1px solid #ccedfc;
    margin-bottom: 9px;
}
.previous_orders .item-list{
    border: 1px solid #ccedfc;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.08);
    margin-bottom: 0px;
    /* background: #f6f6f5; */
}
.previous_orders .item-list .img-rounded{
    margin-top: 5px;
}

.previous_order_title {
    padding: 7px 10px;
    overflow: hidden;
    background-color: #aed2e2;
}

/* ----------------------------desidn css for navbar right profile icon ------------------- */
@media (min-width: 768px){
.navbar-right {
    /* float: right!important; */
    margin-right: 35px;
  }
}
/* -------------------------------confirm order styles btn -------------------------------- */
.confirmdatapage .dl-horizontal .btn{
	margin-top: 12px;
	padding: 6px 10px;
}
/* --------------------change address modal popup --------------------------------------- */
.static-modal .modal-content {
    top: 100px;
}

/* -------------------- Mid Carousal css --------------------------------------- */

.mid-content .carousel-inner {
    height: 200px;
    background-color: #fff;
    border: 1px solid #e6e2e2;
}

.mid-content .carousel-inner>.item{
    height: 200px;
}

.mid-content .carousel-inner>.item>a>img, .mid-content .carousel-inner>.item>img,
.page-right-sidebar .carousel-inner>.item>a>img, .page-right-sidebar .carousel-inner>.item>img {
    line-height: 1;
    height: 100%;
}

.page-right-sidebar .carousel-inner {
    height: 150px;
	background-color: #eee;
    border: 1px solid #e6e2e2;
}

.page-right-sidebar .carousel-inner>.item{
    height:150px;
}


/* -------------------- Enduser Paymentpage css ---------------------- */
.enduser_paymentpage{
    padding-top:100px;
}

.select-style {
    position: relative;
    border: 1px solid #b6b6b6;
    width: 100%;
    background: #fff;
    margin-bottom:5px;
}


.select-style select {
    padding: 6px 12px;
    height: 35px;
    width: 100%;
    font-weight: 300;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}


.select-style:after {
    position: absolute;
    background: #fff;
    top: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    right: 0;
    color: #b6b6b6;
    font-size: 1.4em;
    line-height: 1;
    padding-top: 8px;
    font-family: FontAwesome;
    content: "\F107";
}

.form-horizontal .control-label{margin-bottom:5px; }

span.require {
    padding-left:3px;
    color:#e30000;
    font-size:14px;
    line-height:14px;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.modal-dialog {
    max-width: 600px;
}


/* ----------------------- Track Order page css ------------------------ */

.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 70%;
    left: 4%;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs li>a, .wizard .nav-tabs>li.active>a, .wizard .nav-tabs>li.active>a:focus, .wizard .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
    background: transparent;
    padding: 0 28px;
    margin-right: 0;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #66bdb0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab img {
    width: 65%;
}

span.round-tab i{
    color:#555555;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #009ee3;
}

.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #66bdb0;
}

.wizard .nav-tabs > li {
    background: none !important;
    margin-right:10%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color:#009ee3;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 43%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #009ee3;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding: 20px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wb-left-service-box .wb-service-box {
        width: 100%;
        padding: 20px;
    }

    .wb-left-service-box {
        padding: 100px 40px 0 40px;
    }
    
    .wb-right-service-box {
        padding: 20px;
    }
    
    .wb-service {
        background-color: #fff;
        border-radius: 5px;
        padding: 30px;
        margin-bottom: 20px;
    }

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}